*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td{margin:0; padding:0}
table{border-collapse:collapse; border-spacing:0}
fieldset, img{border:0}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal; font-weight:normal}
ol, ul, li{list-style:none}
caption, th{text-align:left}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:bold}
strong{font-weight:bold}
a img{border:none}
.clearfix{clear: both;}

#productview{width: 780px;position: relative;float:left;}
.pictures{width: 240px; position: relative; float: left; margin-top: 20px}
.main_picture{margin:0px 20px 20px 20px; width:200px}
.main_picture img{border: 1px #000 solid;}
.information{width: 540px; position: relative; float: left;margin-top: 20px}
.row{margin-left:20px; height: 48px;}
.number {font-size: 30px;}
.color{width: 260px; float: left; position: relative}
.size{width: 260px; float: left; position: relative}
.row button{background-color: green}
.description{width:740px; margin: 20px;}


